/* icons */
.icon 
{
	width: 32px;
	height: 32px;
	float: left;
	margin: 1px;
	border: 1px solid #CCCCCC;
	cursor:hand;
	text-align:center;
	vertical-align:middle;
	overflow:hidden;
	position: relative
}

.icon img {
	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.icon:hover {
	background-color: #cccccc;
}

#codeassist h3 {
	font-size: 12px;
	text-align:left;
	background-color: #24890d;
	padding: 5px;
	margin: 0px;
	cursor: hand;
	color: White;
	margin-top: 2px;
}

#codeassist > div {
	display: none;
	clear: both;
}

#containersa {
	width: 500px;
	float: right;
}
#EditorWindow textarea {
	width: 500px;
	height: 300px;
	padding: 10px; 
}

#resultWindow {
	text-align: center;
	padding: 10px;
	margin-top: 20px;
	float: right;
	width: 500px;
}

#controlbuttons {
	text-align: center;
	float: right;
	width: 500px;
}

#controlbuttons input {
	font-size:12px;
}


			Body {
				padding: 10px;
			}
			
			div {
				text-align:center;
			}
			
			#resultWindow, #controlbuttons {
				padding:10px;
			}
			
			#EditorWindow {
				text-align:left;
			}
			
			#EditorWindow h2, #EditorWindow p {
				padding: 0px;
				margin: 0px;	
			}
			
			#latex_formula {
				height: 200px;
			}
			
			#codeassist {
				width: 150px;
				float:left;
			}
		